<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jamscoco.mapper.SchoolInfoGarduateStudentMapper">

    <resultMap type="com.jamscoco.domain.SchoolInfoGarduateStudent" id="SchoolInfoGarduateStudentResult">
        <result property="sno"    column="sno"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="code"    column="code"    />
        <result property="major"    column="major"    />
        <result property="dept"    column="dept"    />
        <result property="grade"    column="grade"    />
    </resultMap>

    <sql id="selectSchoolInfoGarduateStudentVo">
        select sno, name, sex, code, major, dept, grade from school_info_garduate_student
    </sql>
    <delete id="clearTable">
        delete from school_info_garduate_student
    </delete>

    <select id="selectSchoolInfoGarduateStudentList" parameterType="com.jamscoco.domain.SchoolInfoGarduateStudent" resultMap="SchoolInfoGarduateStudentResult">
        <include refid="selectSchoolInfoGarduateStudentVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="major != null  and major != ''"> and major = #{major}</if>
            <if test="dept != null  and dept != ''"> and dept = #{dept}</if>
            <if test="grade != null  and grade != ''"> and grade = #{grade}</if>
        </where>
    </select>

</mapper>
