<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jamscoco.mapper.MatchTrackMapper">

    <resultMap type="com.jamscoco.domain.MatchTrack" id="MatchTrackResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="matchId"    column="match_id"    />
        <result property="award"    column="award"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMatchTrackVo">
        select id, name, match_id, award, del_flag, create_by, create_time, update_by, update_time, remark from match_track
    </sql>

    <select id="selectMatchTrackList" parameterType="com.jamscoco.domain.MatchTrack" resultMap="MatchTrackResult">
        <include refid="selectMatchTrackVo"/>
        <where>
        </where>
    </select>

</mapper>
